* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial sans-serif;
    --main-colour: #4169e1;
    --alternate-colour: #2809ef;
    --main-text-colour: #ffffff;
    --main-background-colour: #000000;
    --transparent-background: rgba(0, 0, 0, 90%);
    --dark-grey: #222222;
}

body {
    background-color: var(--main-background-colour);
    background-image: url("../img/background.jpg");
}

.navbar, .page-container, footer {
    background-color: var(--main-background-colour) !important;
    color: var(--main-text-colour);
}

.navbar, footer {
    border-radius: 10px 15px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-toggler {
    background-color: var(--main-colour);
    
}

.nav-item a, .nav-item a:hover, .nav-item a:visited, .nav-item a:focus {
    color: var(--main-colour);
}

.nav-link:hover {
    background-color: var(--main-colour) !important;
    color: var(--main-text-colour) !important;
}

.card {
    border-radius: 30px !important;
}

.page-container, .page-container .card, footer {
    background-color: var(--transparent-background) !important;
}

a, a:hover, a:visited, a:active, a:focus {
    color: var(--main-colour);
    text-decoration: none;
}

#job-title {
    color: var(--main-colour);
    position: relative;
    padding: 10px;
}

#job-title:before{
    content:" ";
    height: 2px;
    width: 15%;
    background-color: var(--main-text-colour);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

#job-title:after{
    content:" ";
    height: 2px;
    width: 15%;
    background-color: var(--main-text-colour);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.technology, .contact {
    background-color: var(--dark-grey);
}

button, .btn, .btn-primary,
button:hover, button:focus, button:active,
.btn:hover, .btn:focus, .btn:active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    padding: 5px 20px;
    border: transparent;
    border-radius: 20px !important;
    background-color: var(--main-colour) !important;
    color: var(--main-text-colour);
    font-weight: bold !important;
}

button:active, .btn:active, .btn-primary:active {
    background-color: var(--alternate-colour) !important;
}

.btn a, .btn a:hover, .btn a:visited, .btn a:active, .btn a:focus {
    color: var(--main-text-colour);
    text-decoration: none;
}

a, a:hover, a:visited, a:active, a:focus {
    color: var(--main-colour);
    text-decoration: none !important;
}

.project-title {
    color: var(--main-colour);
}

.screenshot-frame {
    max-height: fit-content;
    margin-bottom: 10px;
    overflow: auto;
}

.screenshot {
    max-width: 70vw !important;
    height: auto;
    cursor: pointer;
}

footer {
    margin-top: 20px;
}

.card hr {
    background-color: var(--main-text-colour) !important;
    height: 3px;
    opacity: 1 !important;
}

.vr {
    background-color: var(--main-text-colour) !important;
    width: 3px !important;
    opacity: 1 !important;
}

.modal-dialog {
    max-width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.modal-body {
    padding: 0 !important;
    overflow: auto;
}

@media (min-width: 768px) {
    #technology-section {
        height: 70vh;
        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    .screenshot-frame {
        max-height: min-content;
        max-width: min-content;
        margin: 0 auto;
    }

    .screenshot {
        width: auto !important;
        height: auto !important;
        margin: 0 auto;
    }
}